.error-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  font-size: var(--title-regular);
  font-weight: 500;
  color: var(--text-error);
}

.error-text-huge {
  font-size: var(--title-super-huge);
  font-weight: 600;
}
