.chart-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 7rem);
  padding: 5rem 3rem;
}

.chart-setting-container {
  width: 20%;
  height: 100%;
  overflow-x: scroll;
}

.chart-container-wrapper {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 7rem);
    padding: 5rem 3rem;

    overflow-y: scroll;
  }

  .chart-setting-container {
    width: 100%;
    min-height: 50%;
  }

  .chart-container-wrapper {
    width: 100%;
    min-height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
